
.ecard-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.ecard-body {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  background-color: #ffffff;
  display: inline-block;
  padding: 8px;
  border-radius: 3px;
  min-width: 230px;
  max-width: 350px;
  flex-grow: 1;
  height: 90px;
  margin: 35px 2px 0;
  position: relative;
}
.ecard-icon {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  position: absolute;
  top: -25px;
  /* background-color: #40e04b; */
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2px;
  font-size: 35px;
  color: #ffffff;
  font-weight: normal;
}
.ecard-title {
  font-family: 'Segoe UI', sans-serif;
  color: #74716b;
  font-weight: normal;
  vertical-align: top;
  text-align: right;
  display: block;
  font-size: 20px;
}

.ecard-parag {
  display: block;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Segoe UI', sans-serif;
  color: #000000;

}
